* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #34495e;
  width: 100%;
  height: 100vh;
  position: relative;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  animation: fill 0.5s ease forwards 3s;
}

#text path:nth-child(1) {
  stroke-dasharray: 1168;
  stroke-dashoffset: 1168;
  animation: lineAnim 2s ease forwards;
}
#text path:nth-child(2) {
  stroke-dasharray: 1449.59765625;
  stroke-dashoffset: 1449.59765625;
  animation: lineAnim 2s ease forwards 0.2s;

}
#text path:nth-child(3) {
  stroke-dasharray: 1180;
  stroke-dashoffset: 1180;
  animation: lineAnim 2s ease forwards 0.5s;

}
#text path:nth-child(4) {
  stroke-dasharray: 1113;
  stroke-dashoffset: 1113;
  animation: lineAnim 2s ease forwards 0.8s;

}
#text path:nth-child(5) {
  stroke-dasharray: 1322;
  stroke-dashoffset: 1322;
  animation: lineAnim 2s ease forwards 1.1s;

}
#text path:nth-child(6) {
  stroke-dasharray: 974;
  stroke-dashoffset: 974;
  animation: lineAnim 2s ease forwards 1.4s;

}


@keyframes lineAnim{
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}